<div class="panel panel-info">
    <div class="panel-heading">
        <span class="h3 panel-title">Most Recent Uploads</span>
        <span style="margin-left:10px">
                <button class="btn btn-primary" ng-click="doFetch()" ng-show="showRefreshButton"><span
                        class="glyphicon glyphicon-refresh" tooltip="Refresh recent uploaded files list"></span>
                </button>
        </span>
    </div>
    <div class="panel-body">
        <div style="margin-bottom: 10px">
            <div style="margin-bottom: 6px">
                <table class="table-striped  table-condensed" style="table-layout: fixed; width: 100%;">
                    <thead>
                    <tr>
                        <th style="text-align: center;">Preview</th>
                        <th style="text-align: center;">Name</th>
                        <th style="text-align: center;">Last Modified</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="asset in assets.records">
                        <td ng-click="doPreview(asset)">
                            <img src="{{asset.preview_very_small}}"
                                 class="img-responsive center-block"
                                 tooltip="Click for details"/></td>
                        <td style="overflow:hidden;width: 150px">{{asset.Record_Name}}</td>
                        <td>{{asset.Asset_Modification_Date | date:'dd-MM-yy HH:mm:ss'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>