<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Categories</h3></div>
    <div class="panel-body">
        <div style="margin-bottom: 10px">
            <div style="margin-bottom: 6px" ng-show="!isRoot">
                <button class="btn btn-primary" ng-click="showRootCategory()"><span
                        class="glyphicon glyphicon-home" tooltip="Go to root category"></span>
                </button>
                <button class="btn btn-primary" ng-click="showParentCategory()"><span
                        class="glyphicon glyphicon-arrow-up" tooltip="Go to parent category"></span></button>
            </div>
            <table class="table-striped  table-condensed" style="width:100%">
                <tbody>
                <tr ng-repeat="category in categories">
                    <td ng-click="showCategories(category)"><a>{{category.name}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>