<div class="panel panel-info" ng-file-drop="">
    <div class="panel-body">
        <div class="row" style="margin:4px">
            <dis-category-breadcrumbs ng-controller="disCategoryBreadcrumbsController"/>
        </div>
        <div class="row">
            <div>
                <div class="col-md-5">
                    <div style="margin-bottom:10px;">
                        <span class="btn btn-default btn-file">
                            Browse Files <input ng-file-select type="file" multiple>
                            <span class="glyphicon glyphicon-file"
                                  tooltip="Click to edit metadata for uploaded files"></span>
                        </span>
                    </div>
                    <div ng-show="uploader.isHTML5" style="margin-top:10px;">
                        <div class="well my-drop-zone" ng-file-over>
                            Drop files here
                        </div>
                    </div>

                    <div ng-show="true">
                        <span ng-controller="uploadAlertController" style="margin-top:4px">
                            <alert ng-repeat="alert in uploadAlerts" type="alert.type">{{alert.msg}}</alert>
                        </span>
                    </div>
                    <div ng-show="canUpload" style="margin-bottom:4px">
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                                ng-disabled="!canUpload">
                            <span class="glyphicon glyphicon-upload"></span> Start Upload
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <dis-metadata-edit-panel ng-controller="customMetadataController"/>
            </div>
        </div>

        <div class="row" ng-show="uploader.queue.length" style="margin: 10px">
            <div class="panel panel-info">
                <div class="panel-heading">File List</div>
                <div class="panel-body">
                    <table class="table-striped table-condensed" style="margin: 10px">
                        <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th ng-show="uploader.isHTML5">Size</th>
                            <th ng-show="uploader.isHTML5">Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td>
                                <strong>{{ item.file.name }}</strong>

                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }"></div>
                            </td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                        ng-disabled="!canUpload || item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span>
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                        ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p style="margin-left: 10px">Upload status:

                    <div class="progress" style="margin: 10px">
                    <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="margin:6px;padding-bottom:4px" ng-show="uploader.queue.length">
            <div>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                        ng-disabled="!canUpload">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"
                        ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                        ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
        </div>
    </div>
</div>

</div>