<div ng-controller="authController"/>
<div class="container-fluid" style="margin:10px;">
    <div class="row"
         style="margin-top:10px;margin-bottom:10px">
        <div ng-controller="disUserController">
                <span class="h4 small" style="margin-left:6px;margin-right:6px;">
                    <span translate="LOGGED_IN_AS"/> {{user.firstName}} {{user.lastName}}
                </span>
            <button class="btn btn-primary btn-sm" ng-click="doLogout()"><span translate="LOGOUT"/></button>
            <button ng-show="isBrowserEnabled()" class="btn btn-primary btn-sm" ng-click="doGotoBrowser()"><span
                    translate="BROWSER"/></button>
        </div>
        <div class="row"
             style="margin-top:10px;margin-bottom:10px">
            <div class="col-md-3" style="margin-bottom: 20px">
                <div ng-controller="disCategoryController">
                    <dis-category-panel/>
                </div>
            </div>
            <div class="col-md-7" style="margin-bottom: 20px">
                <dis-file-upload-panel/>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px" ng-show="true">
                <div ng-controller="disRecentAssetsController">
                    <dis-recent-asset-list/>
                </div>
            </div>
        </div>
    </div>
</div>
