<!DOCTYPE html>
<html lang="en"> <!-- id="ng-app" IE<8 -->
<head>
    <meta charset="UTF-8">
    <title>Cumulus Uploader Login</title>
    <script src="lib/es5-shim-min.js"></script>
    <script src="lib/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>

    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-cookies.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.10.0.js"></script>

    <script src="lib/angular-file-upload.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/directives_common.js"></script>

    <style>
        .my-drop-zone {
            border: dotted 3px lightgray;
        }

        .ng-file-over {
            border: dotted 3px red;
        }

        /* Default class applied to drop zones on over */
        .another-file-over-class {
            border: dotted 3px green;
        }

        html, body {
            height: 100%;
        }

    </style>

</head>

<!-- 1. ng-file-drop | ng-filex-drop="options" -->
<body ng-app="disBrowser">

<div class="container" style="width:300px;margin-top:20px;margin-left:20px;">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Cumulus Uploader Login</h3></div>
        <div class="panel-body">
            <div ng-controller="disUserController">
                <form class="form-horizontal" role="form">
                    <div class="form-group">

                        <div class="col-sm-12">
                            <input type="text" name="cumulusUser" ng-model="cumulusUser" value="{{cumulusUser}}"
                                   class="form-control" id="inputUsername" placeholder="Enter username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="password" name="cumulusPassword" ng-model="cumulusPassword"
                                   value="{{cumulusPassword}}" class="form-control" id="inputPassword"
                                   placeholder="Enter password">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary" ng-click="doValidateUser(cumulusPassword)">
                                Sign in
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div ng-controller="AlertController">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
        </div>
    </div>
</div>
</body>
</html>