<div class="form-group has-feedback"
     ng-class="{
        'has-error' : {{field.formName}}.{{field.name}}.$invalid,
        'has-success' : {{field.formName}}.{{field.name}}.$valid
     }">
    <label for="{{field.fieldId}}" class="control-label col-sm-3">{{field.displayName}}</label>

    <div class="col-sm-9">
        <input class="form-control" id="{{field.fieldId}}" type="text"
               name="{{field.name}}" ng-model="field.value" value="{{field.value}}"
               placeholder="{{field.prompt}}"
               ng-minlength="3" ng-maxlength="10">
    </div>
    <span class="glyphicon form-control-feedback" ng-show="!metadataedit.{{field.name}}.$pristine"
          ng-class="{
            'glyphicon-remove' : {{field.formName}}.{{field.name}}.$invalid,
            'glyphicon-ok' : {{field.formName}}.{{field.name}}.$valid
          }">
    </span>
</div>

 